@import "tailwindcss";
@theme{
    --color-backgroundHome:rgba(22,36,86,.233);
    --color-destination-page:rgba(0,0,0,.5);
}
@media (min-width:640px) {
    #active a div{
        transform: scaleX(1);
    }
    ul li div{
        transform: scaleX(0);
        transition: transform .15s;
    }
    ul li:hover div{
        transform: scaleX(1);
    }
    .Active div{
        width: 100%;
    }
}
@media (max-width:640px) {
    ul li div{
        transform: scaleX(0);
        transition: transform .2s;
    }
    #Modal{
        transition: transform 1s;
        transform: translateX(100%);
    }
    #tap div{
        transition: all .2s;
    }
    .Active div{
        width: 100%;
    }
}
