@import "tailwindcss";
@theme{
    --color-backgroundHome:rgba(22,36,86,.233);
}
ul .active{
    transform: scaleX(1);
}
ul li:not(:nth-of-type(1)) div{
    transform: scaleX(0);
    transition: transform .2s;
}
ul li:hover div{
    transform: scaleX(1);
}